<div class="red_jenkins_testcases_showhook"

<hr></hr>

<div class="testcaseprogress">
  
  <p><strong>Concerning testcaseprogress</strong></p>
  
</div>


<hr></hr>
<div class="automatic_testcases">
  
  <p><strong>Automatic testcases</strong></p>
  
</div>


<hr></hr>

<div class="manual_testcases">
  
  <p><strong>Manual testcases</strong></p>
  
</div>
</div>

