<div class="red_jenkins_testcases_showhook">

<hr></hr>

<div class="testcaseprogress"> 
  <p><strong>Concerning testcaseprogress</strong></p>
  <!-- TODO:add percentage-->
</div>

<hr></hr> <!--horizontal line-->
<div class="automatic_testcases">
  
    <p><strong>Automatic testcases</strong></p>
  
    <table class="query-columns">
    <!-- one row for the title and one for the list-->
		<tr>
	        <td>
	        	<!-- columntitles and columnwidths, float is important for the divs to be in one line and not above each other-->
	            <div style="width:200px; float:left">Name</div>
	            <div style="width:100px; float:left">Date</div>
	            <div style="width:700px; float:left">State</div>
	        	<!-- large column for state to fill the <td> -->
	        </td>
		</tr>
	    <tr>
	        <td style="padding-left:0">
				<div style="overflow:auto; height:200px; width:1000px; border:1px; border-color:lightgrey; border-style:solid;">
					<!-- some examples in german...-->
					<!-- TODO: add functionality-->
					<div>
						<div style="float:left; min-width:200px;">Name des Eintrags</div>
						<div style="float:left; min-width:100px;">04.03.2015</div>
						<div style="float:left; min-width:700px; color:green;">/// passed ///</div>
					</div>
					<div>
						<div style="float:left; min-width:200px;">Name des Eintrags</div>
						<div style="float:left; min-width:100px;">04.03.2015</div>
						<div style="float:left; min-width:700px; color:green;">/// passed ///</div>
					</div>
					<div>
						<div style="float:left; min-width:200px;">Name des Eintrags</div>
						<div style="float:left; min-width:100px;">04.03.2015</div>
						<div style="float:left; min-width:700px; color:green;">/// passed ///</div>
					</div>
					<div>
						<div style="float:left; min-width:200px;">Name des Eintrags</div>
						<div style="float:left; min-width:100px;">04.03.2015</div>
						<div style="float:left; min-width:700px; color:green;">/// passed ///</div>
					</div>
					<div>
						<div style="float:left; min-width:200px;">Name des Eintrags</div>
						<div style="float:left; min-width:100px;">04.03.2015</div>
						<div style="float:left; min-width:700px; color:green;">/// passed ///</div>
					</div>
					<div>
						<div style="float:left; min-width:200px;">Name des Eintrags</div>
						<div style="float:left; min-width:100px;">04.03.2015</div>
						<div style="float:left; min-width:700px; color:green;">/// passed ///</div>
					</div>
				</div>
	        </td>
	    </tr>
    </table>
</div>

<hr></hr> <!--horizontal line-->

<div class="manual_testcases">
    <p><strong>Manual testcases</strong></p>
    <table class="query-columns">
    <!-- one row for the title and one for the list-->
    	<tr>
    		<td>
	        	<!-- columntitles and columnwidths, float is important for the divs to be in one line and not above each other-->
	            <div style="width:200px; float:left">Name</div>
	            <div style="width:100px; float:left">Date</div>
	            <div style="width:200px; float:left">State</div>
	            <div style="width:500px; float:left">Error-report</div>
        	</td>
    	</tr>
        <tr>
            <td style="padding-left:0">
                <div style="overflow:auto; height:200px; width:1000px; border:1px; border-color:lightgrey; border-style:solid;">
                	<!-- some examples in german...-->
					<!-- TODO: add functionality-->
                	<div>
                    	<div style="width:200px; float:left">Name des Eintrags</div>
						<div style="width:100px; float:left">04.03.2015</div>
						<div style="width:100px; float:left; color:green;">/// passed ///</div>
						<div style="width:100px; float:left">-pass/fail-</div>
						<div style="width:500px; float:left">Dies ist eine Beschreibung :) </div>
					</div>
                	<div>
                    	<div style="width:200px; float:left">Name des Eintrags</div>
						<div style="width:100px; float:left">04.03.2015</div>
						<div style="width:100px; float:left; color:green;">/// passed ///</div>
						<div style="width:100px; float:left">-pass/fail-</div>
						<div style="width:500px; float:left">Dies ist eine Beschreibung :) </div>
					</div>
                	<div>
                    	<div style="width:200px; float:left">Name des Eintrags</div>
						<div style="width:100px; float:left">04.03.2015</div>
						<div style="width:100px; float:left; color:green;">/// passed ///</div>
						<div style="width:100px; float:left">-pass/fail-</div>
						<div style="width:500px; float:left">Dies ist eine Beschreibung :) </div>
					</div>
                	<div>
                    	<div style="width:200px; float:left">Name des Eintrags</div>
						<div style="width:100px; float:left">04.03.2015</div>
						<div style="width:100px; float:left; color:green;">/// passed ///</div>
						<div style="width:100px; float:left">-pass/fail-</div>
						<div style="width:500px; float:left">Dies ist eine Beschreibung :) </div>
					</div>
                	<div>
                    	<div style="width:200px; float:left">Name des Eintrags</div>
						<div style="width:100px; float:left">04.03.2015</div>
						<div style="width:100px; float:left; color:green;">/// passed ///</div>
						<div style="width:100px; float:left">-pass/fail-</div>
						<div style="width:500px; float:left">Dies ist eine Beschreibung :) </div>
					</div>
				</div>
            </td>
        </tr>
    </table>
</div>
</div>