<div class="red_jenkins_testcases_showhook">

<hr></hr>

<div class="testcaseprogress">
  
  <p><strong>Concerning testcaseprogress</strong></p>
  
</div>


<hr></hr>
<div class="automatic_testcases">
  
  <p><strong>Automatic testcases</strong></p>
  
   <table class="query-columns">
            <tbody>
                <tr>
                    <td style="padding-left:0">
						
                       <select id="available_columns"   style="width:400px" size="10" >
							<option>
							<div></div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>
							<option value="updated_on">
							<div>Testeintrag</div>
							</option>

						</select>

</td>
            </tr>
        </tbody>
    </table>
  
</div>


<hr></hr>

<div class="manual_testcases">
  
  <p><strong>Manual testcases</strong></p>
  
  <table class="query-columns">
            <tbody>
                <tr>
                    <td style="padding-left:0">
                        <select id="available_columns" ondblclick="moveOptions(this.form.available_columns, this.form.selected_columns);" style="width:150px" size="10" multiple="multiple" name="available_columns[]">

        <option value="updated_on">

            Updated

        </option>

    </select>

</td>
            </tr>
        </tbody>
    </table>
  
</div>
</div>

